html, body {
    width: 100%;
    height: 100%;
    background: #eee;
}

/*  WindowModule */
#app_region {
    width: 100%;
    height: 100%;
}

.class_1 {
    width: 100px;
    height: 100px;
    outline: 1px solid black;
}

.class_2 {
    width: 200px;
    height: 200px;
    outline: 1px solid blue;
}